body{
background-color: #ffccb3;
}
.navbar-default{
	height: 75px;
}
.navbar-color{
	background-color: #FFE4E1;
}
.navbar-logo{
	width: 60px;
}
.section1{
	height: 130px;
	background-color:#ffff99;
	text-align: center;
}
.footer{
	text-align: center;
}
.section2{
	margin-top: 75px;
	height: 100px;
	background-color: #ffff99;
	text-align: center;
}
.sidebar{
	height: 200px;
}



#FFA500

#ef9032