body{
background-color: #ffccb3;
}
.navbar-brand_img{
	height: 47px;
	margin-top: 2px;
	margin-bottom: 2px;
}
.navbar-brand{
	padding: 0;
}
.navbar-color{
	background-color: #ecf4f3;
}
.navbar-logo{
	width: 90px;
}
.section1{
	height: 130px;
	text-align: center;
}
.footer{
	text-align: center;
}
.section2{
	margin-top: 75px;
	height: 100px;
	text-align: center;
}
.sidebar{
	height: 200px;
}
.page-header{
	margin-top: 51px;
    text-align: center;
    height: 150px;
	border-bottom-width: 0px;
}
.header-blog{
	padding-top: 55px;
	font-size: 45px;
}
.thumbnail{
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}
.thumbnail-content{
	text-align: center;
}
.colab_2{
	padding-top: 20px
}
.colab_img{
	width: 307px;
	height: 162px !important;
}
.section-colab{
	margin-left: 0px;
	height: 72px;
	text-align: center;
	font-family: Chivo-Bold.ttf;
}
.colab-item{
	margin-top: 8px;
	text-align: center;
	padding: 0px;
}
.row{
	margin-right: 0px;
	margin-right: 0px;
}
.page-header h1{
	font-family: Chivo-Black.ttf;
}
