body{
background-color: #ffccb3;
}
.navbar-default{
	height: 75px;
}
.navbar-color{
	background-color: #FFE4E1;
}
.navbar-logo{
	width: 90px;
}
.section1{
	height: 130px;
	background-color:#ffff99;
	text-align: center;
}
.footer{
	text-align: center;
}
.section2{
	margin-top: 75px;
	height: 100px;
	background-color: #ffff99;
	text-align: center;
}
.sidebar{
	height: 200px;
}
.page-header{
	margin-top: 80px;
    text-align: center;
    height: 150px;
	border-bottom-width: 0px;
}
.header-blog{
	padding-top: 55px;
	font-size: 45px;
}
.thumbnail-content{
	text-align: center;
}
.section-colab{
	margin-left: 0px;
	margin-bottom: 2px;
	height: 72px;
	text-align: center;
	font-family: Chivo-Bold;
}
.colab-item{
	margin-top: 8px;
	text-align: center;
	padding: 0px;
}
.row{
	margin-right: 0px;
	margin-right: 0px;
}
.page-header h1{
	font-family: Chivo-Bold;
}



#FFA500

#ef9032